<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Login</title>-->
<!--  <style>-->
<!--    .blue{-->
<!--      color: blue;-->
<!--    }-->
<!--  </style>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Login</h1>-->

<!--<h3>Enter email and password:</h3>-->
<!--<a href="/register">Register</a>-->
<!--<form th:action="@{/login}" th:object="${login}" method='POST'>-->

<!--  <th:block th:if="${message}" >-->
<!--    <p th:text="${message}" class="blue"></p>-->
<!--  </th:block>-->

<!--  <table>-->
<!--    <tr>-->
<!--      <td>Email:</td>-->
<!--      <td><input type='text'  th:field="*{email}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Password:</td>-->
<!--      <td><input type='password'  th:field="*{password}" /></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><input  type="submit" value="Login" /></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->




<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
<div class="container">
  <h1 class="mt-5">Login</h1>

  <h3 class="mt-4">Enter email and password:</h3>
  <a href="/register" class="btn btn-primary">Register</a>
  <form th:action="@{/login}" th:object="${login}" method='POST' class="mt-4">

    <div th:if="${message}" class="alert alert-info">
      <p th:text="${message}"></p>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type='text' class="form-control" th:field="*{email}" id="email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type='password' class="form-control" th:field="*{password}" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>

